/* ================= AUTH ================= */

#authScreen{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;

    background:
        radial-gradient(
            circle at 50% 0%,
            rgba(229,9,20,.18),
            transparent 38%
        ),
        #050505;
}

.auth-box{
    width:100%;
    max-width:430px;

    background:#101010;

    border:1px solid #292929;

    border-radius:16px;

    box-shadow:
        0 20px 60px rgba(0,0,0,.65);

    padding:25px;
}

/* BLACK RUSSIA LOGO */

.logo-box{
    width:82px;
    height:82px;

    margin:0 auto 14px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:12px;

    background:#080808;

    border:2px solid var(--red);

    box-shadow:
        inset 0 0 25px rgba(229,9,20,.12),
        0 0 25px rgba(229,9,20,.08);
}

.logo-box div{
    text-align:center;
    line-height:.85;
}

.logo-box .b{
    font-size:27px;
    font-weight:1000;
    color:white;
}

.logo-box .r{
    font-size:17px;
    font-weight:1000;
    color:var(--red);
}

.logo{
    text-align:center;
    font-size:28px;
    font-weight:1000;
    letter-spacing:-1px;
}

.logo span{
    color:var(--red);
}

.logo-sub{
    text-align:center;
    color:#777;
    font-size:10px;

    margin-top:6px;
    margin-bottom:23px;

    letter-spacing:2px;
    text-transform:uppercase;
}

.auth-tabs{
    display:flex;
    gap:5px;

    padding:4px;

    background:#080808;

    border:1px solid #222;
    border-radius:10px;

    margin-bottom:21px;
}

.auth-tab{
    flex:1;

    padding:11px;

    border-radius:7px;

    background:transparent;
    color:#777;

    font-weight:800;
}

.auth-tab.active{
    background:var(--red);
    color:white;
}

.auth-title{
    font-size:22px;
    font-weight:900;

    margin-bottom:6px;
}

.auth-desc{
    color:#858585;
    font-size:12px;
    line-height:1.5;

    margin-bottom:18px;
}

.field{
    margin-bottom:13px;
}

.field label{
    display:block;

    color:#aaa;
    font-size:10px;
    font-weight:bold;

    margin-bottom:7px;

    letter-spacing:.5px;
}

.field input{
    width:100%;

    padding:14px;

    color:white;
    background:#080808;

    border:1px solid #2a2a2a;
    border-radius:9px;

    outline:none;
}

.field input:focus{
    border-color:var(--red);
}

.primary-btn{
    width:100%;

    padding:14px;

    color:white;

    background:linear-gradient(
        135deg,
        #c70711,
        #f01925
    );

    border-radius:9px;

    font-weight:900;
}

.secondary-btn{
    width:100%;

    padding:13px;

    color:white;
    background:#202020;

    border:1px solid #303030;

    border-radius:9px;

    font-weight:bold;

    margin-top:9px;
}

.auth-message{
    min-height:20px;

    margin-top:12px;

    text-align:center;

    font-size:12px;
}
